<nav>
  <div class="nav-wrapper ffa000">
    <a href="#" class="brand-logo headline" >Strummer</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/post">Post</a></li>
      <li><a href="/item">Item</a></li>
    </ul>
  </div>
</nav>
