<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Icons CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
    <%- include partials/nav.ejs %>
  <header> </header>
  <main>

    <h2 class="center-align">STRUMMER</h2>
    <p class="center-align"> Best guitars to be rock star</p>

    <div class="row">
      <div class="right">
        <form action="" method="POST">
         <div class="left min">
          <label for="min">Min:</label>
          <input type="text" id="min" name="min">
        </div>
        <div class="right max">
          <label for="max">Max:</label>
          <input type="text" id="max" name="max">
        </div>
        </form>
     </div>
    </div>

    <div class="row">
      <div class="col s4 m4">
        <div class="card medium">
          <div class="card-image">
            <img src="/img/article1.jpg">
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            </p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>BUY</a>
            <a class="btn-floating btn-small waves-effect waves-light red right"><i class="material-icons ">favorite</i></a>
            <a class="btn-floating btn-small waves-effect waves-light red right"><i class="material-icons ">share</i></a>
          </div>
        </div>
      </div>

      <div class="col s4 m4">
        <div class="card medium">
          <div class="card-image">
            <img src="/img/article1.jpg">
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            </p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>BUY</a>
            <a class="btn-floating btn-small waves-effect waves-light red right"><i class="material-icons">favorite</i></a>
            <a class="btn-floating btn-small waves-effect waves-light red right"><i class="material-icons">share</i></a>
          </div>
        </div>
      </div>

      <div class="col s4 m4">
        <div class="card medium">
          <div class="card-image">
            <img src="/img/article1.jpg">
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
           </p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>BUY</a>
            <a class="btn-floating btn-small waves-effect waves-light red right"><i class="material-icons">favorite</i></a>
            <a class="btn-floating btn-small waves-effect waves-light red right"><i class="material-icons">share</i></a>
          </div>
        </div>
      </div>
    </div>

  </main>


    <!-- <h1>Create Item</h1>
    <form action="items" method="POST">
      <label for="brand">Brand:</label>
      <input type="text" id="brand" name="brand"><br><br>
      <label for="price">Price:</label>
      <input type="text" id="price" name="price"><br><br>
      <label for="product_number"> Product_number:</label>
      <input type="text" id="product_number" name="product_number"><br><br>
      <label for="condition">Condition:</label>
      <input type="text" id="condition" name="condition"><br><br>
      <label for="description">Description:</label>
      <input type="text" id="description" name="description"><br><br>
      <button>Submit</button>
    </form > -->
<!-- <% %>
    <form action="items/12" method="POST">
      <button>Delete</button>
    </form> -->

<!--
  <form action="sort">

    <button><a onClick=sort()> Sort</a></button>

  </form> -->

  </body>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="public/scripts/materialize.min.js"></script>
 <script type="text/javascript" src="public/scripts/materialize.js"></script>
 <script type="text/javascript" src="public/scripts/init.js"></script>

</html>
