<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/styles/styles.css" type="text/css" />

 <!-- Icons CSS -->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


  </head>

  <body>
    <%- include partials/nav.ejs %>
    <div class="row center-align">
      <h2>STRUMMER</h2>
    </div>

    <div class="row">
      <div class="col s10 offset-s1">
        <div class="col s6">
          <img src="/img/yamaha jr1.jpeg" alt="guitar" width="350" height="400">
        </div>
        <div class="col s4 post" height="400">
          <h6>$379</h6>
          <!-- <form action="../items/post" method="POST">
          
             <div class="button">
             <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Submit
               <i class="material-icons right">send</i>
             </button>
           </div>
           </form> -->

          <form action="../items/post" method="POST">
            <label for="brand">Brand:</label>
            <input type="text" id="brand" name="brand" class="inputlabel">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price"  class="inputlabel">
            <label for="product_number"> Product_number:</label>
            <input type="text" id="productnumber" name="productnumber"  class="inputlabel">
            <label for="condition">Condition:</label>
            <input type="text" id="condition" name="condition"  class="inputlabel">
            <label for="description" class="itemunit lastitem">Description:</label>
            <input type="text" id="description" name="description"  class="inputlabel">
            <div class="button">
              <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
          </form >
        </div>
      </div>
      
      <!-- <a class="waves-effect waves-light btn-small center-align"><i class="material-icons left">attach_money</i>SELL</a> -->
    </div>


  </body>

</html>
