<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/styles/styles.css" type="text/css" />

<!-- Icons CSS -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/uxfunctions.js"></script>

  </head>

  <body>
    <%- include partials/nav.ejs %>
    <div class="row center-align headline">
      <h2>STRUMMER</h2>
    </div>

    <div class="row">
      <div class="col s10 offset-s1">
        <div class="col s6">
          <img class="productImage" src= '' alt="abc" onerror="this.src='https://pngimage.net/wp-content/uploads/2018/06/guitar-outline-png-5.png'">
        </div>

          <div class="col s4 offset-s1">
          <form action="/items/post" method="POST">
            <label for="brand">Brand:</label>
            <input type="text" id="brand" name="brand" class="inputlabel">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price"  class="inputlabel">
            <label for="product_number"> Product_number:</label>
            <input type="text" id="productnumber" name="productnumber"  class="inputlabel">
            <label for="condition">Condition:</label>
            <input type="text" id="condition" name="condition"  class="inputlabel">
            <label for="image">Image:</label>
            <input type="text" id="image" name="image"  class="inputlabel">
            <label for="description" class="itemunit lastitem">Description:</label>
            <input type="text" id="description" name="description"  class="inputlabel">
            <div class="button">

              <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Submit
                <i class="material-icons right"></i>
              </button>
          </form >
        </div>

      </div>
    </div>
    </div>

    <footer class="page-footer stickfooter">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">STRUMMER</h5>
            <p class="grey-text text-lighten-4">Strummer is guitar marketplace where you can obtain best guitars to become rockstar.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Post</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2021 Copyright STRUMMER

        </div>
      </div>
    </footer>

  </body>

</html>
