.nav-wrapper {
  background-color: #ffa000;
}

/* card */
article {
  width: 300px;
  height: 500px;
  background:url("/img/guitar.jpg");
  display: flex;
  justify-items: center;
  align-items: center;
}

header{
  background: url("/img/guitar.jpg");
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.brand-logo {
  margin-left: 1%;
}

h2 {
  color: #ffa000 ;
}

.tagline {
  color: #ffa000;
}

.headline {
  font-family: 'Lobster', cursive;
}

.box {
  transition: box-shadow .3s;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
}



.box:hover {
  box-shadow: 0 0 11px #ffa000;
}

img {
  background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
}

.subtext {
  color: #424242 ;
}

.min, .max {
  width: 7rem;
}

.min label {
  color: #ffa000;
}

.max label {
  color: #ffa000;
}

.filter {
  display: flex;
  align-items: center;

}

.card-content {
  color: #544f4f;
}

btn-small {
  padding-right: 3rem;
}

.page-footer {
  background-color: #ffa000 !important;
}

/*item page*/
.s4 {
  margin: 0 auto;
  max-width: 300px;
  width: 90%;

}
.itemsform {
  display: flex;
  flex-direction: column;
  margin-top:2rem;
}
.cardunit {
  margin-right: 2rem;;
}

.itemunit {
  margin-top:2rem;
}

/* .itemsstyle {
  margin-bottom: 5rem;
} */

.lastitem {
  margin-bottom: 2rem;
}
.productImage {
  height: 35rem;
  width: 27rem;
}

.card-image {
  height: 25rem;
  width: 20rem;
}

/*post page*/
.inputlabel{
height: 2rem;
}



.stickfooter {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 670px){
  header{
    min-height: 500px;
  }
}

